body, html{
    height: 100%;
}
body{
    margin:0;
    background-image: url("imagenes/blu.jpg");
    background-size: cover;
    background-position : center center;
    background-attachment: fixed;
    padding: 0;
    height: 100vh;
    font-family: 'Bree Serif';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
/*mas o menos, lo quiero mas arriba...y mas a los lados -\_o.o*/
.content-form{
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px;  
    background: #ebeaea57;
}
/*YA QUEDO*/
h1{
    font-family: 'Poppins', sans-serif;
	font-size: 80px;
	font-weight: 500;
    text-align: center;
    padding: 0;
    margin-top: 0cm;
    margin-left: auto;
    margin-right: auto;
    color: rgb(24, 23, 23);
}
h3{
    font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding: 2px;
    color:rgb(26, 25, 25);
}

/*BOTONES LISTOS*/
.contact-form button[type="submit"]{
    
    display: block;
    margin:20px auto;
    font-size: 12px;
	font-family: 'Bree Serif', ;
    color: white;
    border:0;
    background: rgb(3, 184, 197);
    cursor: pointer;
    border: 2px solid gray;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 14px 10px;
    width: 200px;
}
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.contact-form form button:hover,
.contact-form form button:focus{
    color: rgb(26, 24, 24);
    background: none;
}
/*AQUI PARA REPARTIR EL ESPACIO A CADA BLOQUE*/
.content-form{
 /*   display: grid;
    grid-template-columns: 85% 5%;
    font-family: 'Poppins', sans-serif;*/
    display: grid;
    grid-template-columns: 1fr;
	position: relative;

	width: 700px;
	padding: 50px 70px;
	left: 0px;
	right: 100px;
    background: #ebeaea34;
	text-align: center;
	
	align-self: center;
	justify-self: center;
}

/*DISEÑO DEL BOTON DE CIERRE*/
.afuera button[type="submit"]{
   
    line-height: 12px; 
    width: 18px; 
    font-size: 8pt; 
    font-family: 'Poppins', sans-serif; 
    
    margin-top: 1px; 
    margin-right: 2px; 
    position:absolute;
    top:12px; 
    right:80px;
    display: block;
    margin:30px auto;
    font-size: 12px;
    border:0;
    background: rgb(3, 184, 197);
    border: 2px solid gray;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 14px 10px;
    width: 70px;
    text-decoration: none;
}
.afuera a{
    text-decoration: none;
    color: white;
}
.afuera button[type="submit"]:hover,
.afuera button[type="submit"]:focus{
    
    color: rgb(26, 24, 24);
    background: none;
    cursor: pointer;
    
}

/*Para cambiar <OPTION>*/
.contact-form option:hover
{ 
 background: rgba(38, 101, 153, 0.781); 
 cursor: pointer;
 border-radius: 10px; 
 border: none;
} 

/*AQUI CONTACT-FORM que toma solo el registro*/
.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form select{

    border:0;
    background: transparent;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid gray;
    width: 200px;
    outline: none;
    color: rgb(32, 32, 32);
    border-radius: 12px;
    transition: 0.25s;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="password"]:focus{
    width: 280px;
    border-color: rgb(36, 84, 243);
}

.contact-form label{
    border:0;
    background: transparent;
    display: block;
    margin: 20px auto;
    padding: 0;
    text-align: left;
    width: 200px;
    outline: none;
    color: rgb(32, 32, 32);
}